body{
    background-attachment: fixed;
    background-image: url("https://bit.ly/2pNGflR");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
p{
    font-size: 30px;
    color:whitesmoke;
    text-align: center;
}
label{
    text-align: center;
}
.form{
    text-align: center;
}
.form label{
    color: aliceblue;

}
#gender {
    color: antiquewhite;

}
